@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl;
    @apply mb-2;
}

h2 {
    @apply text-lg;
    @apply mb-1;
    @apply font-bold;
}

header {
    ul {
        li {
            a.active {
                text-decoration: underline overline;
            }
        }
    }
}

table {
    @apply my-4;
    @apply mx-auto;
    @apply border;
    @apply border-spacing-2;
    @apply border-collapse;
    thead {
        @apply bg-slate-50;
        @apply dark:bg-slate-950;
    }
    th,
    td {
        @apply border;
        @apply p-2;
    }
    .currency {
        @apply text-right;
        font-family: "Andale Mono", Courier, "Courier New", monospace;
        font-weight: 600;
    }
}

#year_nav {
    overflow: hidden;
    overflow-x: scroll;
    direction: rtl;
    ul {
        @apply flex;
        @apply flex-row;
        @apply justify-end;
        @apply sm:justify-center;
        direction: ltr;
        li {
            @apply mr-6;

            &:last-of-type {
                @apply mr-0;
            }
        }
    }
}

.alert {
    @apply text-red-600;
}

#dashboard_page {
    .total_amounts {
        div {
            @apply basis-4/12;

            p {
                @apply text-2xl;
            }
            span {
                @apply text-xl;
            }
        }
    }

    #revenues,
    #expenses {
        max-height: calc(50vh - 94px);
        overflow-y: scroll;
        .table-wrapper {
            overflow-x: auto;
            table {
                white-space: nowrap;
            }
        }
    }
}

#vat-notice_page {
    .total_amounts {
        div {
            @apply mx-auto;

            p {
                @apply text-2xl;
            }
            span {
                @apply text-xl;
            }
        }
    }
}

#travel-allowance_page {
    .total_amounts {
        div {
            @apply mx-auto;

            p {
                @apply text-2xl;
            }
            span {
                @apply text-xl;
            }
        }
    }

    #travel-allowences {
        .table-wrapper {
            width: 100%;
            overflow-x: auto;
            table {
                width: 100%;
                white-space: nowrap;
            }
        }
    }
}

#assets_page {
    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        table {
            width: 100%;
            white-space: nowrap;
        }
    }
}

#create_revenue_page,
#edit_revenue_page,
#create_expense_page,
#edit_expense_page,
#create_vat-notice_page,
#edit_vat-notice_page,
#create_travel-allowance_page,
#edit_travel-allowance_page {
    form {
        input {
            @apply dark:bg-slate-500;
            @apply my-2;

            &:invalid {
                @apply border-red-700;
                @apply border-2;
            }
        }

        select {
            @apply text-gray-900;
        }
    }
}

#statement_page {
    table {
        td {
            &:last-of-type {
                text-align: right;
            }
        }
    }
}

option:focus {
    font-weight: bold;
}
